node_modules
.git
.github
.gitignore
*.md
*.log
.env
.env.*
client/node_modules
server/node_modules
client/build
coverage
.eslintrc.json
jest.config.js
sonar-project.properties
.gitleaksignore
*.pem
*.key
